<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M7.00499 13.0017L14.595 13.0017L11.295 16.2917C11.1067 16.48 11.0009 16.7354 11.0009 17.0017C11.0009 17.268 11.1067 17.5234 11.295 17.7117C11.4833 17.9 11.7387 18.0058 12.005 18.0058C12.2713 18.0058 12.5267 17.9 12.715 17.7117L17.715 12.7117C17.806 12.6166 17.8774 12.5045 17.925 12.3817C18.025 12.1382 18.025 11.8652 17.925 11.6217C17.8774 11.499 17.806 11.3868 17.715 11.2917L12.715 6.29171C12.622 6.19798 12.5114 6.12358 12.3896 6.07281C12.2677 6.02205 12.137 5.99591 12.005 5.99591C11.873 5.99591 11.7423 6.02205 11.6204 6.07281C11.4986 6.12358 11.388 6.19798 11.295 6.29171C11.2013 6.38467 11.1269 6.49527 11.0761 6.61713C11.0253 6.73899 10.9992 6.8697 10.9992 7.00171C10.9992 7.13372 11.0253 7.26442 11.0761 7.38628C11.1269 7.50814 11.2013 7.61874 11.295 7.71171L14.595 11.0017L7.00499 11.0017C6.73977 11.0017 6.48542 11.1071 6.29788 11.2946C6.11034 11.4821 6.00499 11.7365 6.00499 12.0017C6.00499 12.2669 6.11034 12.5213 6.29788 12.7088C6.48542 12.8963 6.73977 13.0017 7.00499 13.0017Z"
      fill="#5E00D7"
    />
  </svg>
</template>