<template>
  <svg
    width="34"
    height="35"
    viewBox="0 0 34 35"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M19.5945 11.8181H20.9941C21.3653 11.8181 21.7213 11.6707 21.9838 11.4082C22.2463 11.1457 22.3937 10.7897 22.3937 10.4185C22.3937 10.0473 22.2463 9.6913 21.9838 9.42882C21.7213 9.16634 21.3653 9.01888 20.9941 9.01888H19.5945C19.2233 9.01888 18.8673 9.16634 18.6048 9.42882C18.3423 9.6913 18.1949 10.0473 18.1949 10.4185C18.1949 10.7897 18.3423 11.1457 18.6048 11.4082C18.8673 11.6707 19.2233 11.8181 19.5945 11.8181V11.8181ZM19.5945 17.4166H20.9941C21.3653 17.4166 21.7213 17.2691 21.9838 17.0066C22.2463 16.7442 22.3937 16.3882 22.3937 16.017C22.3937 15.6458 22.2463 15.2898 21.9838 15.0273C21.7213 14.7648 21.3653 14.6174 20.9941 14.6174H19.5945C19.2233 14.6174 18.8673 14.7648 18.6048 15.0273C18.3423 15.2898 18.1949 15.6458 18.1949 16.017C18.1949 16.3882 18.3423 16.7442 18.6048 17.0066C18.8673 17.2691 19.2233 17.4166 19.5945 17.4166V17.4166ZM12.5964 11.8181H13.996C14.3672 11.8181 14.7232 11.6707 14.9857 11.4082C15.2482 11.1457 15.3956 10.7897 15.3956 10.4185C15.3956 10.0473 15.2482 9.6913 14.9857 9.42882C14.7232 9.16634 14.3672 9.01888 13.996 9.01888H12.5964C12.2252 9.01888 11.8692 9.16634 11.6067 9.42882C11.3442 9.6913 11.1968 10.0473 11.1968 10.4185C11.1968 10.7897 11.3442 11.1457 11.6067 11.4082C11.8692 11.6707 12.2252 11.8181 12.5964 11.8181V11.8181ZM12.5964 17.4166H13.996C14.3672 17.4166 14.7232 17.2691 14.9857 17.0066C15.2482 16.7442 15.3956 16.3882 15.3956 16.017C15.3956 15.6458 15.2482 15.2898 14.9857 15.0273C14.7232 14.7648 14.3672 14.6174 13.996 14.6174H12.5964C12.2252 14.6174 11.8692 14.7648 11.6067 15.0273C11.3442 15.2898 11.1968 15.6458 11.1968 16.017C11.1968 16.3882 11.3442 16.7442 11.6067 17.0066C11.8692 17.2691 12.2252 17.4166 12.5964 17.4166V17.4166ZM29.3918 28.6135H27.9922V4.82003C27.9922 4.44883 27.8447 4.09283 27.5823 3.83035C27.3198 3.56787 26.9638 3.42041 26.5926 3.42041H6.99792C6.62672 3.42041 6.27073 3.56787 6.00825 3.83035C5.74577 4.09283 5.59831 4.44883 5.59831 4.82003V28.6135H4.19869C3.82749 28.6135 3.47149 28.761 3.20901 29.0235C2.94653 29.2859 2.79907 29.6419 2.79907 30.0131C2.79907 30.3843 2.94653 30.7403 3.20901 31.0028C3.47149 31.2653 3.82749 31.4128 4.19869 31.4128H29.3918C29.763 31.4128 30.119 31.2653 30.3815 31.0028C30.644 30.7403 30.7914 30.3843 30.7914 30.0131C30.7914 29.6419 30.644 29.2859 30.3815 29.0235C30.119 28.761 29.763 28.6135 29.3918 28.6135ZM18.1949 28.6135H15.3956V23.0151H18.1949V28.6135ZM25.193 28.6135H20.9941V21.6154C20.9941 21.2442 20.8466 20.8882 20.5842 20.6258C20.3217 20.3633 19.9657 20.2158 19.5945 20.2158H13.996C13.6248 20.2158 13.2688 20.3633 13.0063 20.6258C12.7439 20.8882 12.5964 21.2442 12.5964 21.6154V28.6135H8.39754V6.21965H25.193V28.6135Z"
      fill="currentColor"
    />
  </svg>
</template>