<template>
  <svg
    width="32"
    height="33"
    viewBox="0 0 32 33"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M19.6376 16.6927C20.8631 15.7285 21.7576 14.4064 22.1967 12.9101C22.6357 11.4139 22.5975 9.81804 22.0874 8.34454C21.5772 6.87105 20.6204 5.5932 19.3502 4.68878C18.08 3.78436 16.5594 3.29834 15.0001 3.29834C13.4408 3.29834 11.9203 3.78436 10.65 4.68878C9.3798 5.5932 8.42305 6.87105 7.91288 8.34454C7.40272 9.81804 7.36451 11.4139 7.80357 12.9101C8.24263 14.4064 9.13713 15.7285 10.3626 16.6927C8.26272 17.534 6.43048 18.9294 5.06123 20.7301C3.69199 22.5308 2.83707 24.6693 2.58762 26.9177C2.56956 27.0819 2.58401 27.248 2.63015 27.4065C2.67629 27.5651 2.7532 27.713 2.85651 27.8419C3.06514 28.1021 3.3686 28.2687 3.70012 28.3052C4.03164 28.3417 4.36407 28.245 4.62427 28.0363C4.88448 27.8277 5.05115 27.5242 5.08762 27.1927C5.3621 24.7492 6.52723 22.4925 8.36039 20.8537C10.1936 19.2149 12.5662 18.309 15.0251 18.309C17.484 18.309 19.8567 19.2149 21.6898 20.8537C23.523 22.4925 24.6881 24.7492 24.9626 27.1927C24.9966 27.4999 25.1432 27.7835 25.374 27.989C25.6048 28.1944 25.9036 28.3071 26.2126 28.3052H26.3501C26.6778 28.2675 26.9773 28.1018 27.1833 27.8443C27.3894 27.5867 27.4853 27.2582 27.4501 26.9302C27.1995 24.6755 26.34 22.5314 24.9637 20.728C23.5874 18.9245 21.7463 17.5296 19.6376 16.6927V16.6927ZM15.0001 15.8052C14.0112 15.8052 13.0445 15.512 12.2223 14.9626C11.4 14.4132 10.7592 13.6323 10.3807 12.7186C10.0023 11.805 9.90327 10.7997 10.0962 9.82976C10.2891 8.85985 10.7653 7.96894 11.4646 7.26968C12.1638 6.57041 13.0548 6.09421 14.0247 5.90128C14.9946 5.70836 15.9999 5.80737 16.9135 6.18581C17.8272 6.56425 18.6081 7.20511 19.1575 8.02736C19.7069 8.8496 20.0001 9.8163 20.0001 10.8052C20.0001 12.1313 19.4733 13.4031 18.5357 14.3407C17.598 15.2784 16.3262 15.8052 15.0001 15.8052Z"
      fill="currentColor"
    />
  </svg>
</template>