// fade and slide
.fade-slide-enter-active,
.fade-slide-leave-active {
  @apply transition duration-300 ease-in-out;
}
.fade-slide-enter,
.fade-slide-leave-to {
  @apply opacity-0 transform translate-x-full;
}

// fade only
.fade-enter-active,
.fade-leave-active {
  @apply transition duration-300 ease-in-out delay-150;
}
.fade-enter,
.fade-leave-to {
  @apply opacity-0;
}
