<template>
  <div class="features sm:h-4/6 py-10 -mt-16 sm:pt-16 xl:pt-12 4xl:mt-8">
    <div class="features__wrapper container">
      <h2 class="font-style__subtitle my-12 text-center">Features</h2>
      <div class="features__list flex flex-wrap gap-2">
        <div class="feature__b2c sm:w-3/4">
          <div class="feature__image">
            <img src="~/assets/images/feature_b2c_01.png" alt="" />
          </div>
          <div class="feature__copy">We make loyalty easy and fun</div>
        </div>

        <div class="feature__b2c flex-1 sm:w-1/4">
          <div class="feature__copy text-center">
            <span>1 - Click</span>
            <p>Redemptions</p>
          </div>
        </div>

        <div class="feature__b2c flex-1 sm:w-1/4">
          <div class="feature__copy text-center">
            <span>1000+</span>
            <p>Sites to earn points</p>
          </div>
        </div>

        <div class="feature__b2c sm:w-3/4">
          <div class="feature__image">
            <img src="~/assets/images/feature_b2c_02.png" alt="" />
          </div>
          <div class="feature__copy">
            Earn points when you shop and enjoy special offers
          </div>
        </div>

        <div class="feature__b2c sm:w-1/2 sm:flex-1">
          <div class="feature__image">
            <img src="~/assets/images/feature_b2c_03.png" alt="" />
          </div>
          <div class="feature__copy">
            <p>Seamlessly use your points to shop</p>
            <p class="hidden sm:block sm:text-right sm:mt-2">That’s it!</p>
          </div>
        </div>

        <div class="feature__b2c sm:w-1/2 sm:flex-1">
          <div class="feature__image">
            <img src="~/assets/images/feature_b2c_04.png" alt="" />
          </div>
          <div class="feature__copy">All your points in one place</div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.features {
  background-image: url('~/assets/images/features_background.png');
  @apply bg-no-repeat bg-full;

  @media all and (min-width: 768px) {
    background-image: url('~/assets/images/features_background_desktop.png');
    @apply bg-top;
  }

  .features__wrapper {
    @apply max-w-3xl;
  }
}

.feature__b2c {
  min-height: 160px;
  @apply flex justify-center items-center gap-6 p-6 rounded-2xl bg-white bg-opacity-60 text-base;
  @media all and (max-width: 640px) {
    @apply w-full;
  }

  .feature__image {
    @apply w-1/3;
  }

  .feature__copy {
    @apply w-2/3 only:w-full text-grey-black;

    span {
      @apply text-main font-bold text-3.5xl;
    }
  }
}
</style>