<template>
  <div class="header sm:relative pt-16">
    <div
      class="
        header__wrapper
        container
        xs:flex xs:justify-between xs:items-center xs:max-w-6xl
      "
    >
      <div class="header__copy pr-16 max-w-xs sm:max-w-sm md:max-w-md sm:py-16 text-title">
        <h1
          class="
            font-display
            text-3.5xl
            font-black
            md:text-6xl
            tracking-tighter
          "
        >
          Your Points, <span class="text-main block">your way</span> one click
          away
        </h1>
        <p class="mt-4">
          No need for complex processes. Easily use and earn reward points for a
          fun shopping experience.
        </p>
        <button class="main-btn" disabled>Coming Soon!</button>
      </div>
      <div class="header__image relative h-80 sm:static sm:h-auto sm:w-1/2">
        <video
          id="background-video"
          autoplay
          loop
          muted
          playsinline
        >
          <source
            src="~/assets/images/RewardWeb_Landing_Mp4.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.header {
  @media all and (max-width: 640px) {
    background-image: url('~/assets/images/b2c-header-background.svg');
    @apply bg-center bg-no-repeat;
  }
}

.header__image {
  @apply -mx-4;
}

#background-video {
  height: 100%;
  right: -25%;
  top: 0;
  z-index: -1;
  @apply absolute max-w-none md:left-0 md:bottom-0 md:w-full md:h-auto md:right-0 xs:-right-32;
}
</style>