<template>
  <div class="shops text-center">
    <div class="shops__wrapper">
      <h2 class="text-gray-500">
        <span
          class="
            font-display font-black
            text-main text-5.5xl
            block
            mb-4
            tracking-tighter
          "
        >
          +1000
        </span>
        Earn and redeem points in your favorite online stores
      </h2>
      <button class="main-btn" disabled>Coming Soon!</button>
    </div>
    <div class="shops__logos">
      <img
        src="~/assets/images/shop_Aliexpress.png"
        alt="Aliexpress logo"
        class="shop__logo"
      />
      <img
        src="~/assets/images/shop_ebay.png"
        alt="ebay logo"
        class="shop__logo"
      />
      <img
        src="~/assets/images/shop_MercadoLibre.png"
        alt="MercadoLibre logo"
        class="shop__logo"
      />
      <img
        src="~/assets/images/shop_TiendaMia.png"
        alt="TiendaMia logo"
        class="shop__logo"
      />
      <img
        src="~/assets/images/shop_Amazon.png"
        alt="Amazon logo"
        class="shop__logo"
      />
      <img
        src="~/assets/images/shop_Alibaba.png"
        alt="Alibaba logo"
        class="shop__logo"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.shops {
  background-color: #f9f5ff;
  background-image: url('~/assets/images/shop_background.svg');
  height: 700px;
  border-radius: 100%/0 0 50px 50px;
  @apply flex justify-center items-center p-4 bg-center bg-no-repeat bg-full relative z-10 -mb-8;

  @media all and (min-width: 640px) {
    height: 400px;
    background-image: url('~/assets/images/shop_background_desktop.svg');
    background-size: 85% auto;
    @apply bg-left-top;
  }

  .shops__wrapper {
    @apply relative z-10;
  }

  .shops__logos {
    @apply absolute top-0 left-0 right-0 bottom-0 z-0;

    .shop__logo {
      @apply absolute transform scale-25 sm:scale-50;
      &:nth-child(1) {
        top: -7%;
        left: -30%;

        @media all and (min-width: 640px) {
          left: 0%;
          top: -15%;
        }
      }
      &:nth-child(2) {
        top: 1%;
        left: 6%;

        @media all and (min-width: 640px) {
          left: 14%;
          top: 28%;
        }
      }
      &:nth-child(3) {
        top: 0%;
        left: 55%;

        @media all and (min-width: 640px) {
          left: 30%;
          top: -3%;
        }
      }
      &:nth-child(4) {
        top: 60%;
        left: 5%;

        @media all and (min-width: 640px) {
          left: 63%;
          top: 2%;
        }
      }
      &:nth-child(5) {
        top: 55%;
        left: -4%;

        @media all and (min-width: 640px) {
          left: 62%;
          top: 22%;
        }
      }
      &:nth-child(6) {
        top: 48%;
        left: 25%;

        @media all and (min-width: 640px) {
          left: 77%;
          top: -16%;
        }
      }
    }
  }
}
</style>