<template>
  <div class="steps py-6">
    <div class="steps__wrapper">
      <h2 class="font-style__subtitle mx-8 mb-10 text-center">
        How does Rewardsweb work?
      </h2>
      <div class="steps__list">
        <div class="step">
          <div class="step__header">
            <div class="step__number">STEP 1</div>
            <h3 class="step__title">Add the extension to Chrome</h3>
            <p class="step__detail">
              You’ll be able to access all Rewardsweb features.
            </p>
          </div>
          <div class="step__body">
            <img
              src="~/assets/images/step1_image.png"
              alt="step 1 - add extension to Chrome"
              class="sm:hidden"
            />
            <img
              src="~/assets/images/step1_image_desktop.png"
              alt="step 1 - add extension to Chrome"
              class="hidden sm:block"
            />
          </div>
        </div>

        <div class="step">
          <div class="step__header">
            <div class="step__number">STEP 2</div>
            <h3 class="step__title">Link your loyalty programs</h3>
            <p class="step__detail">
              From the platform, you can add all your loyalty programs to be
              used in hundreds of stores.
            </p>
          </div>
          <div class="step__body">
            <img
              src="~/assets/images/step2_image.png"
              alt="step 2 - Link your loyalty programs"
              class="sm:hidden"
            />
            <img
              src="~/assets/images/step2_image_desktop.png"
              alt="step 2 - Link your loyalty programs"
              class="hidden sm:block"
            />
          </div>
        </div>

        <div class="step">
          <div class="step__header">
            <div class="step__number">STEP 3</div>
            <h3 class="step__title">Pay with your points at the best stores</h3>
            <p class="step__detail">
              Rewardsweb allows you to buy products with points from one or more
              loyalty programs.
            </p>
          </div>
          <div class="step__body">
            <img
              src="~/assets/images/step3_image.png"
              alt="step 3 - Pay with your points at the best stores"
              class="sm:hidden"
            />
            <img
              src="~/assets/images/step3_image_desktop.png"
              alt="step 3 - Pay with your points at the best stores"
              class="hidden sm:block"
            />
          </div>
        </div>

        <div class="step">
          <div class="step__header">
            <div class="step__number">STEP 4</div>
            <h3 class="step__title">Earn points and keep shopping!</h3>
            <p class="step__detail">
              We’ll reward you with points to use on your next redemptions.
            </p>
          </div>
          <div class="step__body">
            <img
              src="~/assets/images/step4_image.png"
              alt="step 4 - Earn points and keep shopping!"
              class="sm:hidden"
            />
            <img
              src="~/assets/images/step4_image_desktop.png"
              alt="step 4 - Earn points and keep shopping!"
              class="hidden sm:block"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.steps {
  @media all and (max-width: 768px) {
    background-image: url('~/assets/images/steps_background.svg');
    @apply bg-no-repeat bg-center bg-full;
  }

  @media all and (min-width: 768px) {
    background-image: url('~/assets/images/steps_background_shape.svg');
    background-repeat: no-repeat;
    background-position: 70px 160px;;
    background-size: auto 100%;
  }

  @media all and (min-width: 1024px) {
    background-position: 125px 102px;
  }

  @media all and (min-width: 1280px) {
    background-position: 180px 109px;
  }

  @media all and (min-width: 1536px) {
    background-position: 300px 108px;
  }

  @media all and (min-width: 1536px) {
    background-position: 500px 109px;
  }

  @media all and (min-width: 1920px) {
    background-position: 665px 109px;
  }
}

.steps__list {
  @apply max-w-6xl mx-auto space-y-14;
}

.step {
  @apply sm:flex sm:justify-between sm:items-center gap-8;

  &:nth-child(even) {
    @apply sm:flex-row-reverse;

    .step__body {
      img {
        @apply ml-auto;
      }
    }
  }

  & > * {
    @apply md:w-1/2;
  }

  &__header {
    @apply space-y-2 text-center p-4 lg:pr-36 sm:text-left;
  }
  &__number {
    @apply text-main font-medium tracking-widest text-base md:text-lg;
  }
  &__title {
    @apply font-semibold text-base md:text-2xl;
  }
  &__detail {
    @apply text-sm md:text-lg;
  }
}
</style>