<template>
  <div
    class="
      features
      sm:h-4/6 sm:-mt-64 sm:pt-60
      xl:-mt-48 xl:pt-48
      4xl:-mt-4 4xl:pt-24
    "
  >
    <div class="features__wrapper container">
      <h2 class="font-style__subtitle my-6 text-center">Features</h2>
      <div class="features__list flex flex-wrap gap-2">
        <div class="feature__b2b sm:w-1/2">
          <div class="feature__copy">
            <h4 class="feature__title">In control</h4>
            <p>
              Manage the value of your loyalty currency across user types,
              merchants, and categories. Customize settings to meet your
              objectives.
            </p>
          </div>
        </div>

        <div
          class="
            feature__b2b
            w-1/2
            sm:w-1/4
            no-padding-forced
            bg-transparent-forced
          "
        >
          <img
            src="~/assets/images/b2b-feature-cart.png"
            alt=""
            class="w-full h-full object-cover object-center"
          />
        </div>

        <div class="feature__b2b flex-1 sm:w-1/4">
          <div class="feature__copy text-center">
            <span>97%</span>
            <p>Retention*</p>
          </div>
        </div>

        <div
          class="
            feature__b2b
            flex-1
            sm:w-1/4
            border-2 border-dashed border-purple-800
          "
        >
          <div class="feature__copy text-center">
            <p>Increase engagement</p>
            <span>by 20%+</span>
          </div>
        </div>

        <div class="feature__b2b sm:w-1/2">
          <div class="feature__copy">
            <h4 class="feature__title">Manage spend</h4>
            <p>
              Establish parameters for loyalty currency redemption down to the
              merchant level
            </p>
          </div>
        </div>

        <div
          class="
            feature__b2b
            flex-1
            sm:flex-initial
            w-1/4
            no-padding-forced
            bg-transparent-forced
            overflow-hidden
          "
        >
          <img
            src="~/assets/images/b2b-feature-money.png"
            alt=""
            class="w-full h-full object-cover"
          />
        </div>

        <div class="feature__b2b flex-1 sm:flex-1 w-3/4 sm:w-1/2">
          <div class="feature__copy">
            <h4 class="feature__title">Promotions</h4>
            <p>
              Offer exclusive promotions right on your customer’s extension.
            </p>
          </div>
        </div>

        <div class="feature__b2b sm:flex-1 sm:w-1/2">
          <div class="feature__copy">
            <h4 class="feature__title">Customize rewards</h4>
            <p>
              Cookie cutter approaches don’t work. Give your customers offers
              and rewards tailored to them.
            </p>
          </div>
        </div>
      </div>
      <div class="features__alt-copy">
        <p>
          *Retention calculation based on over 80,000 deployed branded solutions
          in the market
        </p>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.features {
  background-image: url('~/assets/images/b2b-features-background.png');
  @apply bg-no-repeat bg-top bg-full relative;

  @media all and (min-width: 640px) {
    background-image: url('~/assets/images/b2b-features-background-desktop.png');
    @apply bg-top;

    &::after {
      content: '';
      background-image: url('~/assets/images/b2b-background-shape.png');
      width: 100vw;
      height: 100vh;
      z-index: -1;
      top: -15%;
      position: absolute;
      background-size: 100% 100%;
    }
  }

  @media all and (min-width: 1440px) {
    &::after {
      top: -20%;
    }
  }

  @media all and (min-width: 1920px) {
    &::after {
      top: -45%;
    }
  }

  .features__wrapper {
    @apply max-w-3xl;
  }
}

.feature__b2b {
  @apply flex justify-center items-center gap-6 p-6 rounded-2xl bg-white bg-opacity-60 text-base;

  .feature__image {
    @apply w-1/3;
  }

  .feature__copy {
    @apply w-2/3 only:w-full text-base space-y-4;

    .feature__title {
      @apply text-lg sm:text-2xl font-semibold;
    }

    span {
      @apply text-main font-bold text-3.5xl;
    }
  }
}

.features__alt-copy {
  @apply text-sm mt-3 p-2;
}
</style>