<template>
  <div class="header sm:relative sm:py-16 pt-16">
    <div
      class="
        header__wrapper
        container
        sm:flex sm:justify-between sm:items-center sm:max-w-6xl
      "
    >
      <div class="header__copy pr-16 sm:w-1/2 text-title">
        <h1
          class="
            font-display
            text-3.5xl
            font-black
            sm:text-6xl
            tracking-tighter
          "
        >
          Change the way your customers
          <span class="text-main block">experience loyalty</span>
        </h1>
        <p class="mt-4 sm:pr-28">
          RewardsWeb is the only platform that provides a comprehensive turnkey
          solution that transforms loyalty program engagement.
        </p>
        <button class="main-btn" disabled>Coming Soon!</button>
      </div>
      <div class="header__image relative sm:h-auto sm:w-1/2">
        <img
          src="~/assets/images/b2b-header-image.png"
          alt=""
          class="relative z-10"
        />
        <img
          src="~/assets/images/b2b-header-image-blur.png"
          alt=""
          class="absolute top-0 left-1/4 z-0"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.header {
  @media all and (max-width: 640px) {
    background-image: url('~/assets/images/b2c-header-background.png');
    @apply bg-left-top bg-no-repeat bg-full;
  }
}

.header__image {
  @apply -mx-4;
}

#background-video {
  height: 100%;
  right: -25%;
  top: 0;
  z-index: -1;
  @apply absolute max-w-none sm:left-0 sm:bottom-0 sm:w-full sm:h-auto sm:right-0;
}
</style>