<template>
  <div class="shops">
    <div class="shops_wrapper container max-w-6xl">
      <img
        src="~/assets/images/shops_icons_top.png"
        alt=""
        class="icons_top lg:hidden"
      />
      <h2
        class="
          text-2xl
          my-14
          lg:text-3.5xl
          text-white
          lg:text-left
          md:flex-1
          lg:pr-8
        "
      >
        We provide solutions to some of the top loyalty programs in the world
      </h2>
      <img
        src="~/assets/images/shops_icons_bottom.png"
        alt=""
        class="icons_bottom lg:hidden"
      />
      <img
        src="~/assets/images/shops_icons_desktop.png"
        alt=""
        class="hidden lg:block lg:w-1/3"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.shops {
  border-radius: 100%/0 0 50px 50px;
  @apply flex justify-center items-center lg:h-60 relative z-10 -mb-8 bg-violet-700 py-14 px-9;
  @media all and (max-width: 640px) {
    min-height: 700px;
  }

  .shops_wrapper {
    @apply lg:flex flex-col gap-12 justify-center items-center text-center lg:flex-row;
  }
}
</style>