<template>
  <div class="offers">
    <div class="offers__wrapper container py-12 sm:py-4">
      <h2 class="font-style__subtitle mb-12 text-center">What we Offer</h2>
      <div
        class="
          offers__list
          flex flex-col
          gap-12
          md:flex-row md:justify-between md:items-start md:gap-8
        "
      >
        <div class="offer_item md:w-1/3">
          <div class="offer__image">
            <img src="~/assets/images/offer1_icon.svg" alt="" />
          </div>
          <div class="offer__copy">
            The only platform in the market with browser extension that allows
            customers to both earn and redeem points.
          </div>
        </div>

        <div class="offer_item md:w-1/3">
          <div class="offer__image">
            <img src="~/assets/images/offer2_icon.svg" alt="" />
          </div>
          <div class="offer__copy">
            Your customers will be able to manage their points in a delightful
            user experience that includes all their loyalty programs in one
            location.
          </div>
        </div>

        <div class="offer_item md:w-1/3">
          <div class="offer__image">
            <img src="~/assets/images/offer3_icon.svg" alt="" />
          </div>
          <div class="offer__copy">
            Gain useful data and insights to better serve your customers
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.offers {
  background-image: url('~/assets/images/offer_background.png');
  @apply bg-no-repeat bg-top bg-full flex justify-center items-center -mt-8;

  @media all and (min-width: 768px) {
    background-image: url('~/assets/images/offer_background_desktop.png');
    min-height: 580px;
    @apply bg-top;
  }

  .offers__wrapper {
    @apply max-w-5xl;
  }
}

.offer_item {
  box-shadow: 0 7px rgb(238, 238, 250);
  @apply bg-white rounded-2xl p-6 text-center flex-1 h-48;

  .offer__image {
    @apply -mt-12 mb-2;

    img {
      @apply mx-auto;
    }
  }
}
</style>