<template>
  <div class="whyus sm:relative sm:py-16">
    <div
      class="
        whyus__wrapper
        container
        flex flex-col-reverse
        py-4
        sm:flex-row sm:justify-between sm:items-center sm:max-w-6xl
      "
    >
      <div class="whyus__copy sm:w-1/2 text-left">
        <h2 class="font-style__subtitle mb-10">Why Us?</h2>
        <ul>
          <li>
            <h3><IconsArrow class="inline" />Fast</h3>
            <p>
              Forget big integration processes. With our patent pending
              technology platform loyalty programs can enable their members to
              shop online with their rewards in days (not months).
            </p>
          </li>
          <li>
            <h3><IconsArrow class="inline" />Secure</h3>
            <p>
              We adhere to the highest security standards to protect our
              partners and their customers' data.
            </p>
          </li>
          <li>
            <h3><IconsArrow class="inline" />Easy</h3>
            <p>
              Our solution can be quickly customized to meet brand requirements
              and the member shopping experience is as easy as clicking on a
              checkout button.
            </p>
          </li>
        </ul>
      </div>
      <div class="whyus__image h-80 sm:h-auto sm:w-1/2">
        <img src="~/assets/images/whyus_image.png" alt="" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.whyus {
  @media all and (min-width: 640px) {
    background-image: url('~/assets/images/whyus_background_desktop.png');
    @apply bg-bottom bg-no-repeat bg-auto;
  }
}

.whyus__copy {
  ul {
    @apply space-y-12;
  }
  h3 {
    color: #5e00d7;
    @apply font-semibold text-2xl flex items-center mb-3;
  }
}

.whyus__image {
  @apply -mx-4;

  img {
    @media all and (min-width: 768px) {
      z-index: -1;
      @apply absolute right-0 top-1/2 transform -translate-y-1/2 w-1/2;
    }
  }
}

#background-video {
  height: 100%;
  right: -25%;
  top: 0;
  z-index: -1;
  @apply absolute max-w-none sm:left-0 sm:bottom-0 sm:w-full sm:h-auto sm:right-0;
}
</style>