<template>
  <footer>
    <div class="sm:flex sm:space-x-40 max-w-4xl sm:px-4 sm:mx-auto">
      <div class="logo__small">
        <svg
          width="83"
          height="50"
          viewBox="0 0 83 50"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M67.7612 42.4713C67.7612 41.6552 67.9284 40.8844 68.2228 40.1719C68.9117 38.5332 67.5806 36.7455 65.7546 36.7455H58.7848C55.3401 36.6289 51.5943 36.0459 49.9088 33.5522H70.1759C74.5169 33.5522 77.567 31.337 77.1055 26.913C75.8881 17.4693 67.6609 10.3896 57.8283 10.3896C49.2198 10.3896 42.5912 15.6297 39.9224 21.8997C37.8689 26.6928 37.7886 32.5223 40.1498 37.2442C43.1798 43.3328 49.9757 48.1 58.6644 48.1583V48.1648H58.8049C58.8116 48.1648 58.8116 48.1648 58.8183 48.1648C58.825 48.1648 58.8317 48.1648 58.8383 48.1648H65.7479C67.5739 48.1648 68.905 46.39 68.2228 44.7513C67.9218 44.0453 67.7612 43.2745 67.7612 42.4713ZM57.7548 19.6909C61.641 19.6909 64.8382 22.3466 65.5272 25.1512H49.9823C50.6713 22.3466 53.9421 19.6909 57.7548 19.6909Z"
            fill="white"
          />
          <path
            d="M78.7021 46.1982C80.828 44.0983 80.7935 40.7272 78.6251 38.6686C76.4567 36.6099 72.9754 36.6433 70.8495 38.7431C68.7236 40.8429 68.7581 44.214 70.9265 46.2727C73.0949 48.3314 76.5762 48.298 78.7021 46.1982Z"
            fill="#FFB800"
          />
          <path
            d="M28.5412 47.3096C25.9192 48.8318 22.2537 48.3978 20.3808 45.3535L13.0967 33.2735H11.973V42.3675C11.973 45.5543 9.27739 48.1646 5.91292 48.1646C2.69559 48.1646 0 45.5543 0 42.3675V5.79711C0 2.61032 2.69559 0 5.91292 0H17.5916C27.0964 0 34.735 7.46824 34.735 16.6011C34.735 22.9812 31.1431 28.4868 25.752 31.2461L30.7151 39.4139C32.3605 42.238 31.3839 45.645 28.5412 47.3096ZM17.5916 11.6007H11.9797V21.6793H17.5916C20.5079 21.6793 22.8289 19.5029 22.8289 16.6076C22.8289 13.8483 20.5079 11.6007 17.5916 11.6007Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="footer-links">
        <h4 class="footer-links__title">Rewards</h4>
        <ul class="footer-links__list">
          <li class="footer-links__text">
            <NuxtLink to="/">For customers</NuxtLink>
          </li>
          <li class="footer-links__text">
            <NuxtLink to="/b2b">For business</NuxtLink>
          </li>
        </ul>
      </div>
      <!-- <div class="footer-links">
        <h4 class="footer-links__title">Legal</h4>
        <ul class="footer-links__list">
          <li class="footer-links__text">Terms & conditions</li>
          <li class="footer-links__text">Privacy policy</li>
        </ul>
      </div> -->
    </div>
  </footer>
</template>

<style lang="scss" scoped>
footer {
  // background-image: url('~/assets/images/footer_background.svg');
  // background-size: 100.1% auto;
  background-color: #1d1d4b;
  @apply py-20 text-center sm:text-left;

  @media all and (min-width: 640px) {
    background-image: url('~/assets/images/footer_background_shapes.svg');
    background-position: bottom center;
    background-size: 100% 100%;
  }

  .logo__small {
    @apply inline-block mx-auto relative pb-12 mb-12 sm:m-0;

    &::after {
      content: '';
      @apply w-full h-px absolute top-full left-0 right-0 bg-white sm:hidden;
    }
  }

  .footer-links {
    @apply mb-12 space-y-6;

    .footer-links__list {
      @apply space-y-6;
    }

    .footer-links__title {
      @apply text-2xl font-semibold text-white;
    }

    .footer-links__text {
      color: #f1e7ff;
    }
  }
}
</style>