<template>
  <div class="logo-wrapper">
    <TransitionGroup name="fade">
      <div key="logo-small" class="logo__small">
        <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.5766 15.2896C22.5766 14.9957 22.6349 14.7183 22.7375 14.4618C22.9777 13.8718 22.5136 13.2282 21.8771 13.2282H19.4473C18.2464 13.1863 16.9406 12.9764 16.353 12.0787H23.4184C24.9317 12.0787 25.995 11.2812 25.8341 9.68855C25.4098 6.28878 22.5416 3.74011 19.1139 3.74011C16.1128 3.74011 13.802 5.62654 12.8716 7.88373C12.1558 9.60927 12.1278 11.7079 12.9509 13.4078C14.0072 15.5997 16.3763 17.3159 19.4053 17.3369V17.3392H19.4543C19.4566 17.3392 19.4566 17.3392 19.459 17.3392C19.4613 17.3392 19.4636 17.3392 19.466 17.3392H21.8747C22.5113 17.3392 22.9753 16.7003 22.7375 16.1103C22.6326 15.8562 22.5766 15.5787 22.5766 15.2896ZM19.0882 7.08859C20.443 7.08859 21.5576 8.04463 21.7978 9.0543H16.3787C16.6188 8.04463 17.7591 7.08859 19.0882 7.08859Z" fill="#5E00D7"/>
          <path d="M26.5469 16.6312C27.2881 15.8753 27.276 14.6617 26.5201 13.9206C25.7642 13.1795 24.5506 13.1915 23.8094 13.9474C23.0683 14.7034 23.0803 15.917 23.8363 16.6581C24.5922 17.3992 25.8058 17.3872 26.5469 16.6312Z" fill="#FFB800"/>
          <path d="M9.94982 17.0315C9.03575 17.5795 7.75792 17.4233 7.10501 16.3273L4.56568 11.9785H4.17393V15.2523C4.17393 16.3996 3.23422 17.3393 2.06132 17.3393C0.939718 17.3393 0 16.3996 0 15.2523V2.08697C0 0.939718 0.939718 0 2.06132 0H6.13265C9.44615 0 12.1091 2.68857 12.1091 5.97642C12.1091 8.27325 10.8569 10.2553 8.97746 11.2486L10.7077 14.189C11.2813 15.2057 10.9408 16.4322 9.94982 17.0315ZM6.13265 4.17627H4.17627V7.80456H6.13265C7.14932 7.80456 7.95846 7.02107 7.95846 5.97875C7.95846 4.9854 7.14932 4.17627 6.13265 4.17627Z" fill="#5E00D7"/>
        </svg>
      </div>
      <div key="logo-full" class="logo__full">
        <svg width="170" height="20" viewBox="0 0 170 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M54.1038 7.45666L49.7635 17.7258C49.1732 19.1021 48.0282 19.1933 47.4694 19.1933C46.6312 19.1933 45.6396 18.7751 45.2697 17.9045L42.9127 12.2737L40.5281 17.9045C40.1857 18.7143 39.383 19.1933 38.5449 19.1933C37.9861 19.1933 36.6246 19.1021 36.0343 17.7258L31.698 7.45666C31.1707 6.22862 31.7924 4.88272 33.0319 4.37326C34.3029 3.8638 35.7274 4.43409 36.2232 5.66213L38.6393 11.3803L40.9019 6.04993C41.2443 5.24011 42.0509 4.76106 42.9166 4.76106C43.7548 4.76106 44.5575 5.24011 44.8998 6.04993L47.1625 11.3803L49.5785 5.66213C50.0743 4.43409 51.5303 3.8638 52.7698 4.37326C54.0093 4.88272 54.631 6.22862 54.1038 7.45666Z" fill="#5E00D7"/>
          <path d="M70.8169 6.51331V16.8242C70.8169 18.0333 69.782 19.0332 68.5306 19.0332C67.8617 19.0332 67.2518 18.7404 66.8229 18.326C65.666 18.9153 64.4146 19.2689 63.0099 19.2689C58.7129 19.2689 55.2068 15.8814 55.2068 11.7296C55.2068 7.57786 58.7129 4.19031 63.0099 4.19031C64.3517 4.19031 65.603 4.54389 66.7599 5.1332C67.1888 4.60472 67.7948 4.30817 68.5267 4.30817C69.782 4.30437 70.8169 5.30428 70.8169 6.51331ZM65.9729 11.7258C65.9729 10.1366 64.6625 8.87053 63.0138 8.87053C61.365 8.87053 60.0586 10.1366 60.0586 11.7258C60.0586 13.315 61.369 14.5849 63.0138 14.5849C64.6586 14.5849 65.9729 13.315 65.9729 11.7258Z" fill="#5E00D7"/>
          <path d="M82.2446 6.65595C82.1856 7.95242 81.0248 8.86489 79.683 8.89531C78.6166 8.92573 77.7312 9.68992 77.7312 10.6936V16.9289C77.7312 18.2253 76.6648 19.2557 75.323 19.2557C73.9812 19.2557 72.9148 18.2253 72.9148 16.9289V6.51148C72.9148 5.30245 73.9222 4.30253 75.201 4.30253C75.7795 4.30253 76.2989 4.50784 76.7239 4.86142C77.9752 4.2417 79.3445 4.21509 79.9545 4.21509C81.3002 4.2417 82.3076 5.35948 82.2446 6.65595Z" fill="#5E00D7"/>
          <path d="M91.6142 4.46907C92.6334 4.46907 93.6171 4.67057 94.5143 5.02036V2.32856C94.5143 1.08532 95.5335 0.0435791 96.8478 0.0435791H97.0563C98.2526 0.0739948 99.2717 1.0549 99.2717 2.24112V16.8673C99.2717 18.0535 98.2565 19.0344 96.9973 19.0344C96.3402 19.0344 95.7696 18.7759 95.3525 18.3386C94.2467 18.9165 92.96 19.2625 91.6142 19.2625C87.396 19.2625 83.9568 15.9396 83.9568 11.8639C83.9568 7.79199 87.396 4.46907 91.6142 4.46907ZM91.6142 14.6736C93.2315 14.6736 94.5143 13.4303 94.5143 11.8715C94.5143 10.3127 93.2276 9.06945 91.6142 9.06945C89.997 9.06945 88.7142 10.3127 88.7142 11.8715C88.7102 13.4303 89.997 14.6736 91.6142 14.6736Z" fill="#5E00D7"/>
          <path d="M107.811 8.18791C107.232 8.00922 106.379 7.80391 106.225 8.45405C106.072 9.04335 107.169 9.33991 107.626 9.42735C108.539 9.60604 109.424 10.1041 110.066 10.7809C111.466 12.1952 111.773 14.4345 110.979 16.2025C110.156 18.0274 108.263 19.1186 106.253 19.2364C105.123 19.2935 102.778 19.0007 101.834 17.7917C100.645 16.2595 101.802 14.1076 103.722 14.1988C104.486 14.2292 105.308 14.7881 105.95 14.8185C107.048 14.906 107.291 13.6095 106.253 13.3472C104.332 12.7883 102.932 12.0507 102.046 10.3436C101.405 9.04715 101.558 7.42752 102.471 6.24891C103.935 4.33652 106.709 3.68638 108.995 4.54182C110.215 5.01327 111.223 6.22229 110.459 7.51876C109.916 8.39702 108.968 8.57191 107.811 8.18791Z" fill="#5E00D7"/>
          <path d="M136.071 7.51449L131.762 17.7076C131.176 19.0763 130.038 19.1637 129.488 19.1637C128.657 19.1637 127.674 18.7493 127.304 17.8862L124.966 12.2974L122.597 17.8862C122.259 18.6885 121.46 19.1637 120.63 19.1637C120.075 19.1637 118.721 19.0763 118.139 17.7076L113.83 7.51449C113.307 6.29406 113.925 4.95957 115.152 4.45391C116.412 3.94825 117.828 4.51474 118.32 5.73137L120.72 11.4077L122.967 6.11537C123.306 5.31315 124.105 4.83791 124.966 4.83791C125.797 4.83791 126.595 5.31315 126.934 6.11537L129.181 11.4077L131.581 5.73137C132.073 4.51094 133.517 3.94825 134.749 4.45391C135.98 4.95957 136.594 6.29406 136.071 7.51449Z" fill="#FFB800"/>
          <path d="M149.955 13.4326H141.845C143.186 15.4058 145.717 15.6986 147.668 14.6682C148.644 14.0789 149.923 14.4325 150.506 15.3754C151.084 16.3487 150.749 17.5843 149.774 18.1432C148.463 18.8808 146.968 19.261 145.414 19.261C141.908 19.261 139.165 17.3486 137.945 14.9002C137.001 13.0144 137.032 10.6876 137.855 8.77138C138.921 6.26589 141.573 4.1748 145.02 4.1748C148.951 4.1748 152.245 7.00347 152.733 10.7712C152.91 12.5505 151.69 13.4326 149.955 13.4326ZM148.093 10.0755C147.818 8.95768 146.539 7.89693 144.985 7.89693C143.462 7.89693 142.148 8.95768 141.876 10.0755H148.093Z" fill="#FFB800"/>
          <path d="M170 11.8672C170 15.9429 166.561 19.2658 162.343 19.2658C160.997 19.2658 159.71 18.9198 158.605 18.3419C158.187 18.7754 157.617 19.0377 156.96 19.0377C155.673 19.0377 154.685 18.0834 154.685 16.8402V2.214C154.685 1.0582 155.704 0.0734888 156.901 0.046875H157.141C158.427 0.046875 159.443 1.0582 159.443 2.33186V5.01985C160.308 4.67387 161.328 4.46856 162.343 4.46856C166.561 4.46856 170 7.79148 170 11.8672ZM165.247 11.8672C165.247 10.3084 163.932 9.06514 162.347 9.06514C160.761 9.06514 159.447 10.3084 159.447 11.8672C159.447 13.3994 160.761 14.6692 162.347 14.6692C163.929 14.673 165.247 13.3994 165.247 11.8672Z" fill="#FFB800"/>
          <path d="M26.9864 16.9901C26.9864 16.6631 27.0533 16.3552 27.1713 16.07C27.4468 15.4123 26.9155 14.7013 26.1797 14.7013H23.3859C22.0047 14.6557 20.5054 14.42 19.8286 13.4239H27.9544C29.6936 13.4239 30.9174 12.538 30.7325 10.7663C30.2445 6.99093 26.947 4.15466 23.0042 4.15466C19.5532 4.15466 16.8971 6.24955 15.8267 8.75885C15.0004 10.675 14.9729 13.0094 15.9173 14.8952C17.1332 17.3285 19.8562 19.2371 23.3386 19.2599V19.2637H23.3937H23.3977C23.4016 19.2637 23.4016 19.2637 23.4055 19.2637H26.1758C26.9077 19.2637 27.4389 18.5527 27.1674 17.8988C27.0533 17.6212 26.9864 17.3133 26.9864 16.9901ZM22.9766 7.87679C24.5349 7.87679 25.8177 8.93754 26.0931 10.0591H19.8601C20.1356 8.94134 21.4498 7.87679 22.9766 7.87679Z" fill="#5E00D7"/>
          <path d="M31.5637 18.4795C32.4157 17.6398 32.4019 16.2917 31.5328 15.4685C30.6638 14.6452 29.2685 14.6586 28.4165 15.4983C27.5645 16.338 27.5783 17.686 28.4474 18.5093C29.3164 19.3325 30.7116 19.3191 31.5637 18.4795Z" fill="#FFB800"/>
          <path d="M11.4466 18.9262C10.396 19.5345 8.92429 19.3596 8.17664 18.143L5.25689 13.3069H4.80436V16.9454C4.80436 18.2228 3.72225 19.2646 2.37255 19.2646C1.08187 19.2646 -0.000244141 18.219 -0.000244141 16.9454V2.3192C0.00369084 1.04554 1.08581 0 2.37648 0H7.05911C10.8721 0 13.9296 2.98454 13.9296 6.63823C13.9296 9.18935 12.4894 11.3945 10.3291 12.4933L12.3202 15.7592C12.9773 16.8959 12.5878 18.257 11.4466 18.9262ZM7.05517 4.6384H4.80436V8.66848H7.05517C8.22386 8.66848 9.15645 7.79783 9.15645 6.63823C9.15645 5.53946 8.22779 4.6384 7.05517 4.6384Z" fill="#5E00D7"/>
        </svg>
      </div>
    </TransitionGroup>
  </div>
</template>

<script>
export default {
  props: {
    size: {
      type: String,
      default: 'full'
    }
  }
}
</script>

<style lang="scss" scoped>
.logo{
  &__small{
    display: block;
     @media all and (min-width: 480px){
       display: none;
     }
  }
  &__full{
    display: none;
     @media all and (min-width: 480px){
       display: block;
     }
  }
}
</style>