<template>
  <header class="container">
    <div class="header__wrapper max-w-6xl mx-auto">
      <Logo></Logo>
      <nav class="hidden sm:block">
        <ul class="flex items-center gap-4">
          <li class="text-base">
            <NuxtLink class="flex justify-start items-center gap-1" to="/">
              <IconsCustomer class="fill-current w-3.5" /> For Customers
            </NuxtLink>
          </li>
          <li class="text-base">
            <NuxtLink class="flex justify-start items-center gap-1" to="/b2b">
              <IconsBusiness class="fill-current w-3.5" /> For Business
            </NuxtLink>
          </li>
        </ul>
      </nav>
      <div class="icon__toggle sm:hidden" @click="toggleNav">
        <img
          key="toggle"
          src="~/assets/icons/nav-menu.svg"
          alt="Toggle nav icon"
          class="icon"
        />
      </div>
    </div>
    <!-- mobile only -->
    <Transition name="fade-slide">
      <nav
        v-if="showNav"
        class="nav__mobile"
        :class="[showNav ? 'h-screen' : '']"
      >
        <div class="nav__header flex justify-between items-center mb-24">
          <LogoWhite></LogoWhite>
          <div @click="toggleNav">
            <img
              key="close"
              src="~/assets/icons/close.svg"
              alt="Close nav icon"
              class="icon"
            />
          </div>
        </div>
        <ul class="text-violet-100">
          <li class="text-3.5xl mb-6 font-display font-light">
            <NuxtLink class="flex justify-start gap-4" to="/">
              <IconsCustomer /> For Customers
            </NuxtLink>
          </li>
          <li class="text-3.5xl mb-12 font-display font-light">
            <NuxtLink class="flex justify-start gap-4" to="/b2b">
              <IconsBusiness /> For Business
            </NuxtLink>
          </li>
          <!-- <li class="mb-4">Terms & conditions</li>
          <li>Privacy Policy</li> -->
        </ul>
      </nav>
    </Transition>
  </header>
</template>

<script>
export default {
  data() {
    return {
      showNav: false,
    }
  },
  watch: {
    showNav(isOpen) {
      isOpen
        ? window.document.body.classList.add('overflow-hidden', 'h-screen')
        : window.document.body.classList.remove('overflow-hidden', 'h-screen')
    },
    $route() {
      this.showNav = false
    },
  },
  methods: {
    toggleNav() {
      this.showNav = !this.showNav
    },
  },
}
</script>

<style lang="scss" scoped>
header {
  @apply p-4 bg-transparent transition-all absolute left-0 right-0 z-50;
}

.header__wrapper {
  @apply flex justify-between items-center;
}

nav {
  @apply text-secondary;
  &:not(.nav__mobile) {
    a {
      @apply border-b-2 border-transparent transition;

      &.nuxt-link-exact-active {
        @apply border-b-2 border-solid border-violet-700 text-violet-700;
      }
    }
  }
}

.nav__mobile {
  background-image: url('~/assets/images/navbar_background.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  @apply fixed top-0 left-0 right-0 bottom-0 bg-violet-700 p-4 z-50 transition-all;

  a {
    @media screen and (-webkit-min-device-pixel-ratio: 1) {
      @apply items-center;
    }
  }
}
</style>