@import './fonts/fonts';
@import './shared/transitions';

@tailwind base;

@layer base {
  button {
    @apply disabled:cursor-auto;
  }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-padding-forced {
    padding: 0 !important;
  }
  .bg-transparent-forced {
    background: transparent !important;
  }
}

html,
body {
  @apply overflow-x-hidden;
}

.main-btn {
  @apply py-3 px-8 bg-white border border-violet-100 rounded-xl font-display text-main font-bold my-8;
}

.font-style__subtitle {
  @apply font-display text-3.5xl font-black;
}
