<template>
  <div id="b2b">
    <B2bHeader></B2bHeader>
    <B2bWhatWeOffer></B2bWhatWeOffer>
    <B2bFeatures></B2bFeatures>
    <B2bWhyUs></B2bWhyUs>
    <B2bShops></B2bShops>
  </div>
</template>

<script>
export default {
  transition: 'fade',
  head() {
    return {
      title: 'Change the way your customers experience loyalty',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'RewardsWeb is the only platform that provides a comprehensive turnkey solution that transforms loyalty program engagement.',
        },
        // Facebook Meta Tags
        { hid: 'og:url', name: 'og:url', content: process.env.BASE_URL },
        { hid: 'og:type', name: 'og:type', content: 'website' },
        { hid: 'og:title', name: 'og:title', content: process.env.META_B2B_TITLE },
        {
          hid: 'og:description',
          name: 'og:description',
          content: process.env.META_B2B_DESCRIPTION,
        },
        {
          hid: 'og:image',
          name: 'og:image',
          content: `${process.env.BASE_URL}${process.env.META_B2B_IMAGE}`,
        },
        // Twitter Meta Tags
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        {
          hid: 'twitter:domain',
          name: 'twitter:domain',
          content: process.env.BASE_URL,
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: process.env.BASE_URL,
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: process.env.META_B2B_TITLE,
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: process.env.META_B2B_DESCRIPTION,
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: `${process.env.BASE_URL}${process.env.META_B2B_IMAGE}`,
        },
      ],
    }
  },
}
</script>
