<template>
  <div id="b2c">
    <B2cHeader></B2cHeader>
    <B2cFeatures></B2cFeatures>
    <B2cSteps></B2cSteps>
    <B2cShops></B2cShops>
  </div>
</template>

<script>
export default {
  transition: 'fade',
  head() {
    return {
      title: 'Your Points, your way one click away',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'No need for complex processes. Easily use and earn reward points for a fun shopping experience.',
        },
        // Facebook Meta Tags
        { hid: 'og:url', name: 'og:url', content: process.env.BASE_URL },
        { hid: 'og:type', name: 'og:type', content: 'website' },
        { hid: 'og:title', name: 'og:title', content: process.env.META_B2C_TITLE },
        {
          hid: 'og:description',
          name: 'og:description',
          content: process.env.META_B2C_DESCRIPTION,
        },
        {
          hid: 'og:image',
          name: 'og:image',
          content: `${process.env.BASE_URL}${process.env.META_B2C_IMAGE}`,
        },
        // Twitter Meta Tags
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        {
          hid: 'twitter:domain',
          name: 'twitter:domain',
          content: process.env.BASE_URL,
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: process.env.BASE_URL,
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: process.env.META_B2C_TITLE,
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: process.env.META_B2C_DESCRIPTION,
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: `${process.env.BASE_URL}${process.env.META_B2C_IMAGE}`,
        },
      ],
    }
  },
}
</script>
